<html ng-app="carExpertApp">
<head>
    <script src="resources/js/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
        var carExpertApp = angular.module('carExpertApp', []);

        carExpertApp.controller('carExpertCtl', function ($scope, kbService) {
            $scope.answers = [];
            $scope.params = [];
            $scope.carDetails = {};

            $scope.query = function(carDetails) {
                var items = [];
                var selectsNames = [];
                for(var i in $scope.params) {
                    var param = $scope.params[i];
                    if(param.element == "select") {
                        selectsNames.push(param.name);
                    }
                }

                for(var prop in carDetails) {
                    if(selectsNames.indexOf(prop) != -1) {
                        items.push({"desc": carDetails[prop]});
                    } else {
                        items.push({"desc": prop, "value": carDetails[prop]})
                    }
                }

                kbService.query(items).success(function(data) {
                    $scope.answers = data;
                });
            };

            kbService.params().success(function (data) {
               $scope.params = data;
               for(var i in data) {
                   if(data[i].element == "select") {
                       $scope.carDetails[data[i].name] = data[i].values[0];
                   }
               }

            });

        });

        carExpertApp.filter("firstUp", function() {
            return function(input) {
                return input[0].toUpperCase() + input.substring(1);
            };
        });

        carExpertApp.factory("kbService", function($http) {
            function query(data) {
                return $http.post("/api/kb/query", data, {
                    responseType: "json",
                    timeout: 10000
                })
            }
            function params() {
                return $http.get("/api/kb/parameters", {
                    responseType: "json",
                    timeout: 10000
                })
            }
            return {
                query: query,
                params: params
            }
        });


    </script>
</head>
<body ng-controller="carExpertCtl">

<form novalidate name="queryForm">
    <div ng-repeat="param in params" ng-switch="param.element">
        {{param.name | firstUp}}:
        <input ng-switch-when="input" ng-model="carDetails[param.name]" ng-name={{param.name}} min="0" type="number" ng-step="{{param.step}}" required/> {{param.unit}}
        <select ng-switch-when="select" ng-model="carDetails[param.name]" ng-name={{param.name}} ng-options="value for value in param.values"></select>
        <br/>
    </div>
    <button ng-click="query(carDetails)" ng-disabled="queryForm.$invalid">Query</button>
</form>

<div ng-hide="answers.length">
    No car matches specified query
</div>

<div ng-repeat="answer in answers">
    <p>answer = {{answer.answer}}</p>
    <img ng-src="{{answer.imageUrl}}"></img>
</div>
</body>
</html>