<!DOCTYPE html>
<html ng-app="carExpertApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car expert</title>
    <link rel="stylesheet/less" type="text/css" href="/resources/css/main.less" />
    <script src="resources/js/angular.js" type="text/javascript"></script>
    <script src="resources/js/angular-sanitize.min.js"></script>
    <script src="resources/js/ui-bootstrap-tpls-0.1.0.js" type="text/javascript"></script>
    <script src="resources/js/showErrors.js" type="text/javascript"></script>
    <script src="resources/js/select.min.js" type="text/javascript"></script>
    <script>
        less = {
            env: "development",
            poll: 1000
        };
    </script>
    <script src="resources/js/less.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var carExpertApp = angular.module('carExpertApp', ['ngSanitize', 'ui.bootstrap', 'ui.select', 'ui.bootstrap.showErrors']);
        carExpertApp.config(function(uiSelectConfig) {
            uiSelectConfig.theme = 'bootstrap';
        });
        carExpertApp.config(['showErrorsConfigProvider', function(showErrorsConfigProvider) {
            showErrorsConfigProvider.showSuccess(true);
        }]);

        carExpertApp.controller('carExpertCtl', function ($scope, kbService, $sce) {
            $scope.queried = false;
            $scope.params = [];
            $scope.answers = [];
            $scope.chosenParams = [];
            $scope.carDetails = {};

            $scope.trustAsHtml = function(value) {
                return $sce.trustAsHtml(value);
            };

            $scope.query = function(carDetails) {
                $scope.queried = true;
                var items = [];
                var selectsNames = [];
                for(var i in $scope.params) {
                    var param = $scope.params[i];
                    if(param.element == "select") {
                        selectsNames.push(param.name);
                    }
                }

                for(var prop in carDetails) {
                    if(selectsNames.indexOf(prop) != -1) {
                        angular.forEach(carDetails[prop], function(value, key) {
                            items.push({"desc": value});
                        });
                    } else {
                        items.push({"desc": prop, "value": carDetails[prop]})
                    }
                }

                kbService.query(items).success(function(data, status) {
                    if(status === 200) {
                        $scope.answers = data;
                    } else {
                        $scope.answers = [];
                    }
                }).error(function() {
                    $scope.answers = [];
                });
            };

            kbService.params().success(function (data) {
               $scope.params = data;
            });

        });

        carExpertApp.filter("parenthesis", function() {
            return function(input) {
                return input? "(" + input + ")" : input;
            }
        });

        carExpertApp.filter("pTag", function() {
            return function(input) {
                return "<p>" + input + "</p>";
            }
        });

        carExpertApp.filter("firstUp", function() {
            return function(input) {
                return input[0].toUpperCase() + input.substring(1);
            };
        });

        carExpertApp.filter("capitalize", function() {
            return function(input) {
                return input.replace(/_/g, " ").replace(/\w\S*/g, function(txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                });
            };
        });

        carExpertApp.directive('forcePrecision', function () {
            return {
                restrict: 'A',
                scope: {
                    step: '@'
                },
                link: function (scope, element, attrs) {
                    var prec;
                    if (!scope.step || scope.step == 'any') {
                        return;
                    }

                    if(scope.step == 1) {
                        prec = scope.step;

                        element.on('keypress', function (e) {
                            if(String.fromCharCode(e.charCode).indexOf('.') !== -1) {
                                e.preventDefault();
                            }
                        });
                    } else {
                        prec = 1;
                        for (var i = scope.step; i != 1; i *= 10) {
                            prec *= 10;
                        }

                        element.on('keypress', function (e) {
                            var val = Number(element.val() + (e.charCode !== 0  ? String.fromCharCode(e.charCode) : ''));

                            if (val) {
                                var newVal = Math.floor(val * prec) / prec;

                                if (val != newVal) {
                                    e.preventDefault();
                                }
                            }
                        });

                    }
                }
            };
        });

        carExpertApp.factory("kbService", function($http) {
            function query(data) {
                return $http.post("/api/kb/query", data, {
                    responseType: "json",
                    timeout: 10000
                })
            }
            function params() {
                return $http.get("/api/kb/parameters", {
                    responseType: "json",
                    timeout: 10000
                })
            }
            return {
                query: query,
                params: params
            }
        });


    </script>
</head>
<body ng-controller="carExpertCtl">

<div class="container">
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-body">
<form novalidate name="queryForm" role="form">
    <div class="param-select">
        <div class="form-group">
            <label>Select features</label>
            <ui-select ng-model="$parent.chosenParams" multiple reset-search-input="true">
                <ui-select-match placeholder="Select required features">
                    {{$item.name | capitalize}}
                </ui-select-match>
                <ui-select-choices repeat="param as param in params | filter: $select.search">
                    <div ng-bind-html="trustAsHtml((param.name | capitalize | pTag | highlight: $select.search))"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div ng-repeat="param in chosenParams | filter: {element: 'input'}">
        <div class="form-group" show-errors>
            <label>{{param.name | capitalize}} {{param.unit | parenthesis}}</label>
            <input force-precision value="0" class="form-control"
                   ng-model="carDetails[param.name]"
                   name="{{param.name}}" min="0" type="number"
                   step="{{param.step}}" required
                   />
        </div>
        <br/>
    </div>
    <div ng-repeat="param in chosenParams | filter: {element: 'select'}">
        <div class="form-group" show-errors>
            <label>{{param.name | capitalize}} {{param.unit | parenthesis}}</label>
            <ui-select class="form-control" name={{param.name}}
                       ng-model="carDetails[param.name]" multiple
                       reset-search-input="true" >
                <ui-select-match placeholder="Choose {{param.name | capitalize}}">
                    {{$item | capitalize}}
                </ui-select-match>
                <ui-select-choices repeat="value as value in param.values | filter: $select.search">
                    <div ng-bind-html="trustAsHtml((value | capitalize | highlight: $select.search | pTag ))"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <br/>
    </div>
    <button class="btn btn-default btn-info" ng-click="query(carDetails)" ng-disabled="queryForm.$invalid">Query</button>
</form>
</div>
</div>
</div>
    <div class="col-md-6 answer-col">
        <div ng-show="answers.length == 0 && queried" class="panel panel-default">
            <span class="glyphicon glyphicon-comment"></span>
            <div class="panel-body">
                <h3>No car matches specified query</h3>
            </div>
        </div>

        <div ng-show="answers.length" >
            <carousel interval="3000">
                <slide ng-repeat="answer in answers" active="answer.active">
                    <img ng-src="{{answer.imageUrl}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>{{answer.answer | capitalize}}</h4>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>


</body>
</html>